header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
}

body {
    padding-top: 50px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.estilo-boton {
    font-size: 16px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.encabezado {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}