# MySQL
MYSQL_ROOT_PASSWORD=your_root_password		# Root password
MYSQL_DATABASE=segundum_dev					# Database name
MYSQL_USER=user								# User name
MYSQL_PASSWORD=user							# User password

# PhpMyAdmin
PMA_HOST=mysql								# MySQL container host
PMA_PORT=3306								# MySQL internal port